@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #d4cbc1;
}
.title h1 {
  color: #484545;
  text-align: center;
  margin: 30px 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
form {
  max-width: 300px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px #ddd;
}
form h3 {
  text-align: center;
}
form input {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 0px;
  outline: none;
  font-size: 0.7em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  background: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn_container button:hover {
  background: rgba(51, 51, 51, 0.854);
  color: white;
}

.todo_container {
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-top: 50px;
}
.todo {
  margin-top: 15px;
  background: white;
  padding: 8px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 3px 3px #ddd;
  font-size: 0.7rem;
}
.todo div {
  cursor: pointer;
  width: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.797);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.todo div span{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #6c5944f1;
}
.todo .date {
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: darkgrey;
}
.btn {
  display: flex;
  justify-content:flex-end;
}
.button-complete,
.button-delete {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
#i {
  font-size: 2em;
}
.button-complete {
  color: #8de899;
  margin-right: 10px;
}
.button-complete:hover {
  color: #00680e;
}
.button-delete {
  color: rgb(233, 146, 146);
}
.button-delete:hover {
  color: rgb(185, 13, 13);
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .form {
        max-width:50%;
      }
      .todo_container {
        max-width: 90%;
      }
}
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .todo_container {
      max-width: 80%;
    }
}
input:focus,
button:focus {
  outline: none;
}